{% extends 'base.html.twig'%}
{% block body %}

<h1>Delete Product</h1>
<p> Are you sure ?</p>
<form method="POST">
    <button>Yes</button>
    <a href="{{path('product_index')}}">No</a>
</form>

{% endblock%}